@charset "UTF-8";

/* noto sans */

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/NotoSansKR-Thin.woff2) format('woff2'), url(/fonts/NotoSansKR-Thin.woff) format('woff'), url(/fonts/NotoSansKR-Thin.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(/fonts/NotoSansKR-Light.woff2) format('woff2'), url(/fonts/NotoSansKR-Light.woff) format('woff'), url(/fonts/NotoSansKR-Light.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/NotoSansKR-Regular.woff2) format('woff2'), url(/fonts/NotoSansKR-Regular.woff) format('woff'), url(/fonts/NotoSansKR-Regular.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(/fonts/NotoSansKR-Medium.woff2) format('woff2'), url(/fonts/NotoSansKR-Medium.woff) format('woff'), url(/fonts/NotoSansKR-Medium.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/NotoSansKR-Bold.woff2) format('woff2'), url(/fonts/NotoSansKR-Bold.woff) format('woff'), url(/fonts/NotoSansKR-Bold.otf) format('opentype');
  }
  
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(/fonts/NotoSansKR-Black.woff2) format('woff2'), url(/fonts/NotoSansKR-Black.woff) format('woff'), url(/fonts/NotoSansKR-Black.otf) format('opentype');
  }


/* open sans */

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Extrabold.eot');
    src: url('/fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-Extrabold.woff2') format('woff2'),
        url('/fonts/OpenSans-Extrabold.woff') format('woff'),
        url('/fonts/OpenSans-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Bold.eot');
    src: url('/fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/fonts/OpenSans-Bold.woff') format('woff'),
        url('/fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-BoldItalic.eot');
    src: url('/fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('/fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Italic.eot');
    src: url('/fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-Italic.woff2') format('woff2'),
        url('/fonts/OpenSans-Italic.woff') format('woff'),
        url('/fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans.eot');
    src: url('/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans.woff2') format('woff2'),
        url('/fonts/OpenSans.woff') format('woff'),
        url('/fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Semibold.eot');
    src: url('/fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('/fonts/OpenSans-Semibold.woff') format('woff'),
        url('/fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSansLight-Italic.eot');
    src: url('/fonts/OpenSansLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSansLight-Italic.woff2') format('woff2'),
        url('/fonts/OpenSansLight-Italic.woff') format('woff'),
        url('/fonts/OpenSansLight-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-ExtraboldItalic.eot');
    src: url('/fonts/OpenSans-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-ExtraboldItalic.woff2') format('woff2'),
        url('/fonts/OpenSans-ExtraboldItalic.woff') format('woff'),
        url('/fonts/OpenSans-ExtraboldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Light.eot');
    src: url('/fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-Light.woff2') format('woff2'),
        url('/fonts/OpenSans-Light.woff') format('woff'),
        url('/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-SemiboldItalic.eot');
    src: url('/fonts/OpenSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('/fonts/OpenSans-SemiboldItalic.woff2') format('woff2'),
        url('/fonts/OpenSans-SemiboldItalic.woff') format('woff'),
        url('/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

