@charset "UTF-8";

/* reset-css */

* {
	margin: 0;
	padding: 0;
	color: #7b8496;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

body {
	background-color: #191f2c;
}

input {
	-webkit-appearance: none;
	border-radius: 5px;
	border: 1px solid #3a404b;
	width: 100%;
	padding: 10px 8px;
	font-size: 16px;
	background-color: #191f2c;
	color: #7b8496;
}

input:focus {
	outline: none;
}

input::-ms-input-placeholder {
	color: #505764;
}
input::-webkit-input-placeholder {
	color: #505764;
}
input::-moz-placeholder {
	color: #505764;
}

input[type='text']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='text']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type='search']::-webkit-search-decoration {
	display: none;
}
input[type='search']::-webkit-search-cancel-button {
	display: none;
}
input[type='search']::-webkit-search-results-button {
	display: none;
}
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

button {
	-webkit-appearance: none;
	border: none;
}

select {
	width: 100%;
	padding: 10px 8px;
	border: 1px solid #3a404b;
	border-radius: 5px;
	-webkit-appearance: none;
	font-size: 16px;
	background-image: url(../img/ic_select.svg);
	background-repeat: no-repeat;
	background-position: 96% 50%;
	background-color: #191f2c;
	line-height: 150%;
	color: #505764;
}
select:focus {
	outline: none;
}

.stop-scroll {
	height: 100%;
	overflow: hidden;
}

/* button */

.btn-square {
	width: 100%;
	padding: 12px 0;
	background-color: #5876e8;
	border-radius: 5px;
	color: #191f2c;
	font-size: 18px;
}

/* toggle */

.toggle {
	display: inline-block;
	position: relative;
	padding-left: 40px;
	margin-bottom: 12px;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.toggle input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
}

.toggle input:checked ~ .control {
	background-color: rgba(88, 118, 232, 0.4);
}

.toggle input:checked ~ .control:after {
	background: #5876e8;
	left: 17px;
}

.toggle .control {
	position: absolute;
	padding: 0.5em;
	top: -0.25em;
	right: 0;
	height: 18px;
	width: 36px;
	border-radius: 25px;
	background-color: rgba(181, 196, 219, 0.3);
	-webkit-transition: background-color 0.15s ease-in;
	transition: background-color 0.15s ease-in;
}

.toggle .control:after {
	content: '';
	position: absolute;
	left: 3px;
	top: 3px;
	width: 16px;
	height: 16px;
	border-radius: 25px;
	background: #89909f;
	-webkit-transition: left 0.15s ease-in;
	transition: left 0.15s ease-in;
}

/* common */

.wrap-page {
	width: 100%;
	padding: 20px;
	overflow-x: hidden;
	height: auto;
}
.wrap-page-detail {
	width: 100%;
	overflow-x: hidden;
	height: auto;
}

h1 {
	font-size: 32px;
	font-family: 'Open Sans';
	color: #5876e8;
}

h2 {
	font-size: 18px;
	padding: 10px 0;
	color: #fff;
}

.wrap-tit,
.wrap-back {
	width: 100%;
	padding: 30px 23px 20px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: rgb(25, 31, 44, 0.9);
	z-index: 998;
}

.wrap-back a {
	width: 24px;
	height: 24px;
	background-image: url(../img/btn_back_dark.svg);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	display: inline-block;
}
.wrap-back button {
	background: none;
}

.wrap-content {
	margin-top: 83px;
	padding-bottom: 78px;
}
.wrap-notice-detail {
	margin-top: 63px;
	padding-bottom: 88px;
}
.wrap-menu {
	display: flex;
	justify-content: space-around;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #191f2c;
	border-top: 1px solid #242b39;
	padding: 16px 0 24px;
	z-index: 999;
}

/* login */
.login-tit {
	text-align: center;
	padding: 20px 0 36px;
	font-size: 36px;
}
.txt-info {
	font-size: 14px;
	text-align: center;
	padding-bottom: 27px;
}
.wrap-login select,
.wrap-login input {
	margin-bottom: 10px;
	font-size: 16px;
}
.auto-login {
	text-align: right;
	padding: 10px 0 20px;
}
/* menu */
.wrap-menu a {
	width: 32px;
	height: 32px;
}
.wrap-menu a.menu-myapp {
	background-image: url(../img/myapp_dark.svg);
}
.wrap-menu a.menu-setting {
	background-image: url(../img/setting_dark.svg);
}
.wrap-menu a.menu-apps {
	background-image: url(../img/apps_dark.svg);
}
.wrap-menu a.menu-notice {
	background-image: url(../img/notice_dark.svg);
}
.wrap-menu a.menu-search {
	background-image: url(../img/search_dark.svg);
}

.wrap-menu a.menu-myapp.on {
	background-image: url(../img/myapp_on_dark.svg);
}
.wrap-menu a.menu-setting.on {
	background-image: url(../img/setting_on_dark.svg);
}
.wrap-menu a.menu-apps.on {
	background-image: url(../img/apps_on_dark.svg);
}
.wrap-menu a.menu-notice.on {
	background-image: url(../img/notice_on_dark.svg);
}
.wrap-menu a.menu-search.on {
	background-image: url(../img/search_on_dark.svg);
}
/* index */

.ban {
	width: 100%;
	padding-bottom: 100%;
	background-color: #eee;
	border-radius: 15px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

.ban .slider-container {
	width: 100%;
	position: absolute;
	left: 0;
}

.ban .slider-container.animated {
	-webkit-transition: left 0.3s ease-in;
	transition: left 0.3s ease-in;
}

.ban .slider-container .slide {
	width: 100%;
	position: absolute;
	overflow: hidden;
}

.ban .slider-container .slide img {
	width: 100%;
}

.pager {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	text-align: center;
}

.pager span {
	width: 10px;
	height: 10px;
	background: #ccc;
	border-radius: 50%;
	display: inline-block;
	margin: 0 5px;
}

.pager span.active {
	background-color: #5876e8;
}

.list-header {
	position: relative;
}
.list-header h2 {
	display: inline-block;
}
.sort {
	display: inline-flex;
	position: absolute;
	right: 0;
	top: 12px;
}

.sort span {
	font-size: 14px;
	padding-left: 10px;
	letter-spacing: -0.6px;
}
.sort span.on {
	color: #5e7cfe;
	font-weight: bold;
}

.applist {
	display: flex;
	padding: 10px 0;
	align-items: center;
	justify-content: space-between;
}

.applist span {
	padding-right: 14px;
}

.applist .list-icon img {
	width: 64px;
	border-radius: 15px;
}

.applist .list-btn-open,
button.list-btn-open {
	color: #c5cad6;
	padding: 4px;
	background-color: #272d3d;
	border-radius: 20px;
	box-sizing: border-box;
	width: 80px;
	text-align: center;
	font-weight: bold;
	letter-spacing: -0.6px;
	font-size: 15px;
}
.applist .list-btn-install,
button.list-btn-install {
	color: #191f2c;
	padding: 4px;
	background-color: #5876e8;
	border-radius: 20px;
	box-sizing: border-box;
	width: 80px;
	text-align: center;
	font-weight: bold;
	letter-spacing: -0.6px;
	font-size: 15px;
}
.applist .list-btn-update,
button.list-btn-update,
.btn-review {
	color: #5876e8;
	padding: 4px;
	border: 1px solid #5876e8;
	background-color: #191f2c;
	border-radius: 20px;
	box-sizing: border-box;
	width: 80px;
	text-align: center;
	font-weight: bold;
	letter-spacing: -0.6px;
	font-size: 15px;
}

.applist .list-txt {
	width: 52%;
	align-self: flex-start;
}
.applist .list-txt p {
	width: 100%;
	letter-spacing: -0.6px;
	font-size: 16px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #50555c;
}

.applist .list-txt p:first-child {
	font-weight: 500;
	font-size: 18px;
	color: #c5cad6;
	line-height: 18px;
}

.applist .list-txt p:last-child {
	padding-top: 5px;
	font-size: 14px;
	color: #676f7e;
}

/* 검색 */

.wrap-srch {
	margin-bottom: 20px;
	position: fixed;
	right: 20px;
	left: 20px;
}

.wrap-srch input {
	position: relative;
	width: 100%;
}
.wrap-srch button {
	position: absolute;
	top: 12px;
	right: 10px;
	background-image: url(../img/btn_search_dark.svg);
	background-color: transparent;
	width: 22px;
	height: 22px;
}

.wrap-result {
	position: fixed;
	width: 100%;
	padding: 0 40px 50px 0;
	top: 170px;
	height: 70%;
	overflow-y: scroll;
}

.wrap-noresult {
	position: relative;
	width: 100%;
	height: 70vh;
}
.wrap-noresult p {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: 0 -70px;
	color: #7b8290;
}

/* 공지 */

.wrap-notice ul li {
	padding: 20px 0;
	border-bottom: 1px solid #242b39;
	letter-spacing: -0.5px;
}

.wrap-notice ul li:first-child {
	padding-top: 0;
}

.wrap-notice .notice-date,
.wrap-notice-detail .notice-date {
	font-size: 14px;
	color: #7b8496;
	padding-bottom: 6px;
	font-family: 'noto sans';
}

.txt-header {
	border-bottom: 1px solid #373b44;
	padding-bottom: 30px;
}

.notice-tit,
.txt-header .notice-tit {
	font-size: 18px;
	font-weight: 400;
	color: #fff;
}

.txt-content {
	padding: 30px 0;
	text-align: justify;
	line-height: 28px;
}

.txt-content p {
	color: #7b8496;
}

/* 앱상세보기 */

.appinfo-header {
	margin-top: 83px;
	padding: 0 23px;
	position: relative;
}
.appinfo-header .icon {
	padding-right: 20px;
	display: inline-block;
}
.appinfo-header .icon img {
	width: 112px;
	border-radius: 24px;
}
.appinfo-header .info {
	display: inline-block;
	position: absolute;
	top: 0;
}
.appinfo-header .info .tit {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -0.5px;
	line-height: 20px;
	color: #c5cad6;
}

.appinfo-header .info .subtit {
	font-size: 14px;
	color: #7b8290;
	letter-spacing: -0.5px;
	padding: 4px 0 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 52vw;
}
.star {
	padding-right: 6px;
	display: inline-block;
}
.star span.blue {
	padding: 0;
	width: 14px;
	height: 14px;
	display: inline-block;
	background-image: url(../img/ic_star_blue_dark.svg);
	background-size: 14px 14px;
	background-repeat: no-repeat;
}
.star span.gray {
	padding: 0;
	width: 14px;
	height: 14px;
	display: inline-block;
	background-size: 14px 14px;
	background-image: url(../img/ic_star_gray_dark.svg);
	background-repeat: no-repeat;
}

.down {
	display: inline-block;
	width: 52px;
	background-image: url(../img/ic_down_dark.svg);
	background-repeat: no-repeat;
	background-position: 0 65%;
	text-align: left;
	padding-left: 14px;
	font-size: 13px;
}

.down span {
	font-family: 'noto sans';
	letter-spacing: -0.5px;
	color: #7b8290;
}

.info button {
	margin-top: 8px;
	display: block;
}

.wrap-detail-preview {
	width: 100%;
	overflow-x: auto;
	min-height: 30vh;
	padding: 20px 0;
	background-color: #232937;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.wrap-detail-preview div {
	padding-right: 3vw;
}
.wrap-detail-preview div:first-child {
	padding-left: 23px;
}
.wrap-detail-preview div:last-child {
	padding-right: 23px;
}
.wrap-detail-preview div img {
	width: 24vw;
	border-radius: 5px;
}

.wrap-detail {
	width: 100%;

	padding: 10px 20px 50px;
}

.wrap-detail h2 {
	margin-top: 14px;
}

.review-header button {
	background: none;
	margin-top: 18px;
}

.review-header,
.wrap-version,
.review-content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.review-content {
	padding: 12px 0 2px;
}
.review-content .review-txt {
	width: 55vw;
	letter-spacing: -0.5px;
	font-size: 15px;
	color: #7b8290;
}
.review-content .review-date,
.version-date {
	font-family: 'noto sans';
	color: #41454f;
}

/* 리뷰쓰기 */
.wrap-modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.7); /* Black w/ opacity */
	text-align: center;
}

.wrap-modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.modal-content {
	background-color: #191f2c;
	padding: 40px 20px 10px;

	width: 85%;
	border-radius: 15px;
	display: inline-block;
	vertical-align: middle;
	height: auto;
	position: relative;
	color: #7b8290;
}
.close {
	color: #676f7e;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	right: 20px;
	top: 20px;
	line-height: 24px;
}

.wrap-review h3 {
	font-size: 24px;
	color: #fff;
}

.wrap-review p {
	font-size: 14px;
	color: #7b8290;
	padding: 6px 0 18px;
	letter-spacing: -0.6px;
}
.wrap-review .rating span.blank {
	width: 30px;
	height: 30px;
	background-image: url(../img/star-blank_dark.svg);
	display: inline-block;
	background-repeat: no-repeat;
}
.wrap-review .rating span.fill {
	width: 30px;
	height: 30px;
	background-image: url(../img/star-blue_dark.svg);
	display: inline-block;
	background-repeat: no-repeat;
}
.wrap-review textarea {
	width: 100%;
	padding: 16px;
	height: 33vh;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 16px;
	-webkit-appearance: none;
	outline: none;
	border: 1px solid #3a404b;
	background-color: #191f2c;
}

.wrap-button {
	width: 50vw;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}
.wrap-button button {
	padding: 4px;
}
.wrap-button button.cancel {
	font-size: 18px;
	font-weight: bold;
	color: #7b8290;
	background: none;
}
.wrap-button button.complete {
	font-size: 18px;
	font-weight: bold;
	color: #5876e8;
	background: none;
}

/* 미리보기 */
.wrap-preview {
	margin-top: 63px;
}

.wrap-preview h3 {
	font-size: 24px;
	color: #fff;
}
.bg-preview {
	position: fixed;
	left: 0;
	right: 0;
	top: 150px;
	width: 100%;
	min-height: 60vh;
	background-color: #232937;
	overflow-x: auto;
	display: flex;
	padding: 30px 20px;
}
.bg-preview div {
	padding-right: 16px;
}
.bg-preview div img {
	width: 50vw;
	border-radius: 10px;
}

/* 설정 */
h4 {
	color: #869cff;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 16px;
}
.profile {
	width: 100%;
	background-color: #5876e8;
	border-radius: 15px;
	padding: 20px;
	position: relative;
}

.profile p {
	color: #b6c3ff;
	font-size: 14px;
}

.profile .profile-wrap-btn {
	width: 100%;
	position: relative;
	padding-bottom: 20px;
}
.profile button {
	background: none;
	font-size: 16px;
	color: #191f2c;
	display: block;
	right: 0;
	top: -8;
	position: absolute;
	font-weight: bold;
}

.profile .profile-txt {
	width: 48vw;
	display: inline-block;
	position: absolute;
}
.profile .photo {
	padding-right: 16px;
}
.profile .photo img {
	width: 72px;
	height: 72px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
}

.profile-txt .company-num {
	font-family: 'noto sans';
	font-size: 15px;
	line-height: 22px;
}

.basic {
	width: 100%;
	background-color: #232937;
	padding: 20px;
	border-radius: 15px;
	margin-top: 14px;
}
.basic h4,
.version .tit {
	color: #5876e8;
}

.wrap-both {
	display: flex;
	justify-content: space-between;
	padding: 4px 0;
	align-items: center;
}
.version {
	margin-top: 14px;
	width: 100%;
	background-color: #232937;
	padding: 12px 20px;
	border-radius: 15px;
}
.version .num {
	font-family: 'noto sans';
}
.qna {
	margin-top: 14px;
	width: 100%;
	background-color: #232937;
	padding: 20px;
	border-radius: 15px;
}
.qna h4 {
	color: #5876e8;
}

/*--- IPHONE 5 - SE ---*/
@media only screen and (max-width: 320px) {
	.wrap-content {
		margin-top: 83px;
		padding-bottom: 88px;
	}

	.wrap-page {
		width: 100%;
		padding: 18px;
		overflow-x: hidden;
		height: auto;
	}
	.wrap-page-detail {
		width: 100%;
		overflow-x: hidden;
		height: auto;
	}

	.wrap-result {
		position: fixed;
		width: 100%;
		padding: 0 40px 70px 0;
		top: 170px;
		height: 70%;
		overflow-y: scroll;
	}

	.applist {
		display: flex;
		padding: 10px 0;
		align-items: center;
		justify-content: space-between;
	}

	.applist span {
		padding-right: 12px;
	}

	.applist .list-icon img {
		width: 56px;
		border-radius: 15px;
	}

	.applist .list-btn-open,
	button.list-btn-open {
		color: #c5cad6;
		padding: 3px;
		background-color: #272d3d;
		border-radius: 20px;
		box-sizing: border-box;
		width: 72px;
		text-align: center;
		font-weight: bold;
		letter-spacing: -0.6px;
		font-size: 14px;
	}
	.applist .list-btn-install,
	button.list-btn-install {
		color: #191f2c;
		padding: 3px;
		background-color: #5876e8;
		border-radius: 20px;
		box-sizing: border-box;
		width: 72px;
		text-align: center;
		font-weight: bold;
		letter-spacing: -0.6px;
		font-size: 14px;
	}
	.applist .list-btn-update,
	button.list-btn-update,
	.btn-review {
		color: #5876e8;
		padding: 3px;
		border: 1px solid #5876e8;
		background-color: #191f2c;
		border-radius: 20px;
		box-sizing: border-box;
		width: 72px;
		text-align: center;
		font-weight: bold;
		letter-spacing: -0.6px;
		font-size: 14px;
	}

	.applist .list-txt {
		width: 52%;
		padding: 0;
		align-self: flex-start;
	}
	.applist .list-txt p {
		width: 100%;
		letter-spacing: -0.6px;
		font-size: 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.applist .list-txt p:first-child {
		font-weight: bold;
		font-size: 16px;
		line-height: 18px;
		color: #c5cad6;
	}

	.applist .list-txt p:last-child {
		padding-top: 5px;
		font-size: 13px;
		letter-spacing: -0.6px;
	}

	.appinfo-header .icon img {
		width: 108px;
		border-radius: 24px;
	}
}
