@charset "UTF-8";

/* reset-css */

* {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

input {
  -webkit-appearance: none;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  width: 100%;
  padding: 10px 8px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

button {
  -webkit-appearance: none;
  border: none;
}

select {
  width: 100%;
  padding: 10px 8px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  -webkit-appearance: none;
  font-size: 16px;
  background-image: url(/img/ic_select.svg);
  background-repeat: no-repeat;
  background-position: 96% 50%;
}
select:focus {
  outline: none;
}
/* button */

.btn-square {
  width: 100%;
  padding: 10px 0;
  background-color: #3554db;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
}

/* toggle */

.toggle {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 12px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.toggle input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle input:checked ~ .control {
  background-color: #3554db;
}

.toggle input:checked ~ .control:after {
  left: 17px;
}

.toggle .control {
  position: absolute;
  padding: 0.5em;
  top: -0.25em;
  right: 0;
  height: 18px;
  width: 36px;
  border-radius: 25px;
  background-color: #dadada;
  -webkit-transition: background-color 0.15s ease-in;
  transition: background-color 0.15s ease-in;
}

.toggle .control:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  background: white;
  -webkit-transition: left 0.15s ease-in;
  transition: left 0.15s ease-in;
}

/* common */

.wrap-page {
  width: 100%;
  padding: 20px;
}
h1 {
  font-size: 32px;
  font-family: "Open Sans";
  color: #3554db;
}

h2 {
  font-size: 18px;
  padding: 10px 0;
}

.wrap-tit {
  width: 100%;
  padding: 30px 23px 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgb(255, 255, 255, 0.9);
  z-index: 998;
}

.wrap-content {
  position: relative;
  top: 83px;
  padding-bottom: 88px;
}

.wrap-menu {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 16px 0 24px;
  z-index: 999;
}

/* login */
.login-tit {
  text-align: center;
  padding: 20px 0 36px;
  font-size: 36px;
}
.txt-info {
  font-size: 14px;
  text-align: center;
  padding-bottom: 27px;
}
.wrap-login select,
.wrap-login input {
  margin-bottom: 10px;
  font-size: 16px;
}
.auto-login {
  text-align: right;
  padding: 10px 0 20px;
}

/* index */

.ban {
  width: 100%;
  padding-bottom: 100%;
  background-color: #eee;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.ban img {
  position: absolute;
  width: 100%;
}
.list-header {
  position: relative;
}
.list-header h2 {
  display: inline-block;
}
.sort {
  display: inline-flex;
  position: absolute;
  right: 0;
  top: 12px;
}

.sort span {
  font-size: 14px;
  padding-left: 10px;
  letter-spacing: -0.6px;
}
.sort span.on {
  color: #5e7cfe;
  font-weight: bold;
}

.applist {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;
}

.applist span {
  padding-right: 14px;
}

.applist .list-icon img {
  width: 64px;
}

.applist .list-btn-open {
  color: #50555c;
  padding: 4px 3px;
  /* border: 1px solid #50555c; */
  background-color: #eee;
  border-radius: 20px;
  box-sizing: border-box;
  width: 80px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.6px;
  font-size: 15px;
}
.applist .list-btn-install {
  color: #fff;
  padding: 4px 3px;
  background-color: #3554db;
  border-radius: 20px;
  box-sizing: border-box;
  width: 80px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.6px;
  font-size: 15px;
}
.applist .list-btn-update {
  color: #3554db;
  padding: 3px;
  border: 1px solid #3554db;
  border-radius: 20px;
  box-sizing: border-box;
  width: 80px;
  text-align: center;
  font-weight: bold;
  letter-spacing: -0.6px;
  font-size: 15px;
}

.applist .list-txt {
  width: 52%;
  align-self: flex-start;
}
.applist .list-txt p {
  width: 100%;
  letter-spacing: -0.6px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #50555c;
}

.applist .list-txt p:first-child {
  font-weight: bold;
  font-size: 18px;
  color: #333;
  line-height: 18px;
}

.applist .list-txt p:last-child {
  padding-top: 5px;
  font-size: 14px;
}

/* 검색 */

.wrap-srch {
  margin-bottom: 20px;
  position: fixed;
  right: 20px;
  left: 20px;
  background-color: #fff;
}

.wrap-srch form input {
  position: relative;
  width: 100%;
}
.wrap-srch form button {
  position: absolute;
  top: 12px;
  right: 10px;
  background: none;
}

.wrap-result {
  position: fixed;
  width: 100%;
  padding: 0 40px 50px 0;
  top: 170px;
  height: 70%;
  overflow-y: scroll;
}
